<div class="container__big-card">

  <div class="big-card__photo">
    <img
      [src]="imageURL"
      alt="img da net"
      height="200px"
      srcset=""
    >
  </div>

  <div class="big-card__title">

    <h1><a>Saiu a nova versão do Angular</a></h1>

  </div>

  <div class="big-card__description">

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus blandit in ligula sit amet condimentum. Nulla sem metus, tempor quis mi et, sagittis egestas est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque accumsan cursus massa sed accumsan. Donec euismod suscipit volutpat. Proin nec lorem turpis. Maecenas gravida tincidunt sollicitudin. Duis luctus ut mi non pretium. </p>

  </div>

  </div>
